body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: absolute;
  color: #000;
  width: 100%;
}

nav ul {
  margin-right: 20px;
}

nav li {
  display: inline-block;
  margin: 15px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #282828;
  font-weight: 500;
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
}

#logo {
  margin-left: 30px;
  margin-top: 35px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

#logo img {
  width: 300px;
  margin-top: -70px;
  margin-left: -30px;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background: url('../img/image_one.jpeg');
  height: 100vh;
  background-size: cover;
  /*min-height: 100%;*/
}

.img-row img {
  /*border-radius: 10px;*/
  display: block;
  margin: 0 auto;
  /*opacity: 0.7;*/
  height: auto;
  /*height: auto;*/
  /*width: 200px;
  height: 300px;*/
}

.pimg2 {
  background-image: url('../img/image_two.jpeg');
  min-height: 400px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
  font-size: 4em;
}

.adobe-img {
  height: 100px;
  width: 100px;
  color: #fff;
}

.skills {
  color: #fff;
  /*border: 4px solid #fff;*/
  padding: 20px;
  /*font-size: 4em;*/
}

.pimg3 {
  background-image: url('../img/la.png');
  min-height: 500px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  /*margin-top: 70px;*/
}

.ptext .border.trans {
  background: transparent;
}

.trans {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
  opacity: 1;
}

.project {
  width: 230px;
  height: 230px;
  position: relative;
}

.project h3 {
  position: absolute;
  top: 210px;
  display: none;
  left: 30px;
  top: 50px;
  color: #111;
  background: #fff;
  opacity: 0.7;
}

.project:first-child {
  background: url('../img/watergate.png');
  background-position: center;
  background-size: cover;
}

.project:nth-child(2) {
  background: url('../img/baseball.png');
  background-position: center;
  background-size: cover;
}

.project:nth-child(3) {
  background: url('../img/bigsur.png');
  background-position: center;
  background-size: cover;
}

.project:nth-child(4) {
  background: url(../img/adam.png);
  background-position: left;
  -webkit-background-size: cover;
  background-size: cover;
}

.project:nth-child(5) {
  background: url(../img/mccabes.png);
  background-position: left;
  -webkit-background-size: cover;
  background-size: cover;
}

textarea {
  margin-top: 5px;
  width: 300px;
  height: 100px;
}

footer {
  background: #f4f4f4;
  width: 100%;
  /*opacity: 0.3;*/
  /*box-shadow: 1px -1px 5px 1px #fff;*/
  position: absolute;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  color: #000;
}

footer ul {
  margin-right: 50px;
}

.copy {
  margin-left: 50px;
}

footer ul li {
  list-style: none;
  font-size: 1.3em;
  display: inline-block;
  margin-left: 20px;
}

@media (min-width: 320px) and (max-width: 736px) {
  nav {
    display: inline-block;
  }
  nav ul {
    margin-top: -55px;
    margin-left: 15px;
  }
  .ptext .border {
    padding: 0;
  }
  .skills {
    padding: 0;
  }
  .project {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  textarea {
    width: 170px;
    height: 170px;
  }
}
