<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
                        Adam G Miller
                    </a>
        </li>
        <li>
          <a href="views/entrepeneur/entrepreneur.html">Entrepreneur</a>
        </li>
        <li>
          <a href="views/publisher/publisher.html">Publisher</a>
        </li>
        <li>
          <a href="views/speaker/speaker.html">Speaker</a>
        </li>
        <li>
          <a href="views/investor/investor.html">Investor</a>
        </li>
        <li>
          <a href="views/advisor/advisor.html">Advisor</a>
        </li>
        <li>
          <a href="views/humanitarian/humanitarian.html">Humanitarian</a>
        </li>
        <li>
          <a href="views/mentor/mentor.html">Mentor</a>
        </li>
        <li>
          <a href="views/human-rights/human-rights.html">Human Rights</a>
        </li>
        <li>
          <a href="views/21-must-reads/21-must-reads.html">21 Must Reads</a>
        </li>
        <li>
          <a href="#">Calender</a>
        </li>
        <li class="social-media">
          <a href=""><i class="no-hover fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href=""><i class="no-hover fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href=""><i class="no-hover fa fa-youtube-square" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-xs-12 hero">
            <h2 class="name-title text-center white">Adam Vincent Gilmer</h2>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="entrepreneur row">
          <div class="col-md-12">
            <h2>Humanitarian</h2>
            <h3>hu·man·i·tar·i·announ\hyü-ˌma-nə-ˈter-ē-ən, yü-\</h3>
            <p>Globally there are many issues facing this blue and green ball we call Earth. Conflicts, epidemics, famine, natural disasters as well as other major emergencies may all lead to a humanitarian crisis.</p>
            <p>We do not inherit the Earth form our Ancestors, we borrow it form our Children. Being an emigrant form Johannesburg South Africa and having seen, firsthand, his fair share of poverty, violence, revolt, terrorism, hunger and death, Adam Gilmer made the decision to become an player, to participate and to take action rather than remaining a passive onlooker. The primary objective of humanitarian aid is to save lives, alleviate suffering and maintain human dignity. We can all do something about ANY problem in this world as long as the passion to do so is there and fueled by Purpose.</p>
            <p>Children are usually the recipient of the worst of these situations. One of the most devastating and most universal of these is childhood malnutrition. Children, frail, to young to realize any differently, around the planet, in all walks of life, are dealing with the effects of malnutrition to some extent. We now have an answer to this global epidemic and you, like Adam, can participate and become a person promoting human welfare and social reform globally, just like you do by taking care of your own household.</p>
            <p>In 2010, Doctors Without Borders launched a campaign to call governments to stop providing sub-standard foods with insufficient nutritional quality to malnourished children living in developing countries. Most of the damage caused by malnutrition occurs in children before they reach their second birthday. This is the critical window of opportunity, a time when the quality of a child’s diet has a profound and sustained impact on their health and physical and mental development. For young children, the principles of good nutrition are well established, they center around good maternal nutrition and breastfeeding for the first six months followed by the introduction of a nutritious and diverse complementary foods containing some animal source foods, such as milk, meat, and eggs, that provide Vitamins, Minerals, Protein & Omega 3’s to their developing systems.</p>
            <p>Diets that do not provide the right blend of high-quality protein, essential fats, carbohydrates, vitamins and minerals can impair growth and development, increase the risk of death from common childhood illness, or result in life-long health consequences. Yet the cereal-based fortified flours donated as food aid do not meet these basic nutritional standards.</p>
            <p>Adam was introduced to a product that can and will deliver the adequate nutrients required, that meet the World Health Organization standards, in a campaign called ThriV. The hope and faith, is to rewrite the story of childhood malnutrition, by convincing you, as well as individuals, entrepreneurs, business leaders and governments to ensure food aid that targets the specific needs of young children with adequate nutritional products to win against childhood malnutrition.</p>
            <p>As founder of thriV, Inc.  Adam is taking an active participating stand towards this epidemic with several well known foundations. Through taking care of your own family by purchasing thriV pastes and gels. Vitamin, Mineral and Protein  enriched food supplements work for everyone.</p>
            <p>“Simply purchase these nutritional paste or gels and by taking care of your own family, you will automatically take care of another person around the world. Simple giving, by taking care of your own needs.” Through the efforts of taking care of ones-self, this allows the opportunity to take care of others. A practice learned form the movie “Pay it forward” and also illustrated by “Toms Shoes” and the “Law of attraction”. You have to be abel to take care of #1, before you can take care of #2 or #3, a principle and law taught by Adam’s 8020365 Personal Operating System.</p>
            <p>By providing the right daily Vitamins, Minerals and Protein this nutrient richt gel will be distributed to children around the world from all walks of life, from local poverty affected areas to 3rd world countries, specifically focused on  regions where where childhood malnutrition is one of the largest causes of developmental disorders or death in young children.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="video row">
          <div class="col-lg-12">
            <div class="video-container"><iframe width="760" height="515" src="https://www.youtube.com/embed/SQbrqSKp0uI" frameborder="0" allowfullscreen></iframe></div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="sunset row parallex">
          <div class="col-lg-12">
            <i class="text-center fa fa-handshake-o" aria-hidden="true"></i>
            <h2 class="text-center white">Don't Delay Any Longer</h2>
            <h4 class="text-center white">You’re only a click away from changing your life forever…</h4>
            <button type="button" class="sunset-button white text-center btn btn-outline-secondary">Let's Get Started</button>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>Copyright 2017 Adam Vincent Gilmer | All Rights Reserved | Design By Brian Borin</p>
      <div class="media-footer">
        <a href="#"><i class="no-hover fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="#"><i class="no-hover fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="#"><i class="no-hover fa fa-youtube-square" aria-hidden="true"></i></a>
      </div>
    </footer>
  </div>

  <!-- Text input-->
  <!-- /.container -->

  <!-- /#wrapper -->

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
