<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
                        Adam G Miller
                    </a>
        </li>
        <li>
          <a href="#">Entrepreneur</a>
        </li>
        <li>
          <a href="#">Publisher</a>
        </li>
        <li>
          <a href="#">Speaker</a>
        </li>
        <li>
          <a href="#">Investor</a>
        </li>
        <li>
          <a href="#">Advisor</a>
        </li>
        <li>
          <a href="#">Humanitarian</a>
        </li>
        <li>
          <a href="#">Mentor</a>
        </li>
        <li>
          <a href="#">Human Rights</a>
        </li>
        <li>
          <a href="#">21 Must Reads</a>
        </li>
        <li>
          <a href="#">Calender</a>
        </li>
        <li class="social-media">
          <a href=""><i class="no-hover fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href=""><i class="no-hover fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href=""><i class="no-hover fa fa-youtube-square" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-xs-12 hero">
            <h2 class="name-title text-center white">Adam Vincent Gilmer</h2>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="entrepreneur row">
          <div class="col-md-12">
            <h2>Advisor</h2>
            <p>Utilizing his years of experience in the network marketing and the direct sales industries, Adam has served as consultant to several companies, providing expertise to create revenue and solve problems. He has also negotiated the terms and conditions of products and services or personal contracts between productive individual networks and the corporate sides of their prospective companies.</p>
            <p>Adam has served on the board of directors or has been an advisor for more than a dozen companies as well as non-profit organizations. As a managing partner in a contract management consultancy firm  Adam’s focus is in designing strategic cash flowing models and growth plans for the execution of this model.</p>
            <p>This includes: world-class  acquisition of leadership, development of personnel, the assessment of challenges and opportunities in foundational core business principles and practices, strategic innovation, joint venture development, sales and marketing best practices, corporate culture, customer acquisition campaigns, customer loyalty and retention systems and more.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="video row">
          <div class="col-lg-12">
            <div class="video-container"><iframe width="760" height="515" src="https://www.youtube.com/embed/SQbrqSKp0uI" frameborder="0" allowfullscreen></iframe></div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="sunset row parallex">
          <div class="col-lg-12">
            <i class="text-center fa fa-handshake-o" aria-hidden="true"></i>
            <h2 class="text-center white">Don't Delay Any Longer</h2>
            <h4 class="text-center white">You’re only a click away from changing your life forever…</h4>
            <button type="button" class="sunset-button white text-center btn btn-outline-secondary">Let's Get Started</button>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>Copyright 2017 Adam Vincent Gilmer | All Rights Reserved | Design By Brian Borin</p>
      <div class="media-footer">
        <a href="#"><i class="no-hover fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="#"><i class="no-hover fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="#"><i class="no-hover fa fa-youtube-square" aria-hidden="true"></i></a>
      </div>
    </footer>
  </div>

  <!-- Text input-->
  <!-- /.container -->

  <!-- /#wrapper -->

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
